{% extends 'base.html' %}{% block content %}
<div class="container container-home text-bg-dark">
  <h1>Mis ofertas</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-grid">
        {% for oferta in ofertas %}
        <div class="card text-bg-dark">
          <div class="card-header">{{ oferta.title }}</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{ oferta.description }}</p>
            {% if oferta.aceptada %}
            <p>Aceptada por: {{ oferta.aceptada_por.username }}</p>
            {% else %}
            <p>Aún no ha sido aceptada.</p>
            {% endif %} {% if oferta.terminada %}
            <p>Estado: Fue completada</p>
            <div class="d-flex gap-2 justify-content-between">
              <button type="submit" class="btn btn-warning">
                <a class="text-dark" href="{% url 'calificar_oferta' oferta.id %}"
                  >Calificar empleador</a
                >
              </button>
              <button type="submit" class="btn btn-success">
                <a class="text-white" href="{% url 'pasarela_pago' %}"
                  >Realizar pago</a
                >
              </button>
            </div>
            {% else %}
            <p>Estado: Sin completar</p>
            {% endif %}
          </div>
        </div>
        {% empty %}
        <div class="col-12">
          <p>No tienes ofertas en curso.</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
  }
</style>

{% endblock %}
