<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="../static/public/logo_v1.png" width="50px" alt="magneto logo" />
      MagnetoFavor
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link"
            ><i class="bi bi-house-fill"></i> Inicio</a
          >
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="/ofertas"
            ><i class="bi bi-postcard-fill"></i> Ofertas</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/mapa"
            ><i class="bi bi-postcard-fill"></i> Mapa</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/crear_ofertas"
            ><i class="bi bi-file-earmark-plus-fill"></i> Crear Oferta</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout"
            ><i class="bi bi-lock-fill"></i> Cerrar Sesión</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/signin" class="nav-link"
            ><i class="bi bi-unlock-fill"></i> Iniciar Sesión</a
          >
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link"
            ><i class="bi bi-key-fill"></i> Registrarse</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
