{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Correo de cambio enviado</h3>
            <p class="card-text">
              Acabamos de enviar las instrucciones para cambiar su contraseña. Porfavor revisar Email.
            </p>
            <p class="card-text">
              Si no recibe el Email, asegurece de haber colocado la dirección correcta y ver su spam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}