{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Cambio de contraseña completado</h3>
            <p class="card-text">Su contraseña ha sido cambiada con éxito.</p>
            <a href="/signin" class="btn btn-primary">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}